* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.App {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.mainContainer {
  background-color: blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 7;
}

div.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}