.foodContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.searchMeal {
    flex-basis: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.searchMeal button {
    padding: 10px 20px;
    letter-spacing: 1px;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    text-transform: uppercase;
    background-color: inherit;
    border: none;
}

.myMeal {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mealTitle {
    flex-basis: 10%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mealTitle p {
    padding-top: 30px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bolder;
}

.mealContainer {
    display: flex;
    flex-basis: 60%;
    width: 90%;
    overflow: scroll;
}

.mealContainer .mealRecipe {
    padding: 20px;
    text-align: justify;
}

.mealContainer .mealImage {
    flex-basis: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.mealContainer .mealImage img {
    width: 300px;
    height: 300px;
    overflow: hidden;
}