.navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
    min-width: 20%;
    height: 100%;
}

.navigation ul {
    flex-basis: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

.navigation ul li a {
    display: block;
    text-decoration: none;
    padding: 5px 10px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: .2s;
}

.navigation ul li a:hover {
    transform: translateX(10px);
}

.navigation ul li a.active {
    border-left: 8px solid gray;
    transform: translateX(0px);
}